<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STEAL TO HEAL</title>
        <link rel="stylesheet" href="static/styles2.css">
        <script src="static/script.js" defer></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <span><b>STEAL TO HEAL</b></span>
            </div>
            <nav>
                <a href="health">HEALTH</a>
                <a href="time">TIME</a>
                <button onclick="history.back()"><b>Назад</b></button>
            </nav>
        </header>
        <hr>
        <main>
            <section id="HOME" class="hidden">
                <div class="h2-container">
                    <h2>FINANCE</h2>
                </div>
                <div class="home-content">
                    <p>FINANCE ORGANIZATION</p>
                    <p>Financial stability starts with tracking income and expenses. Create a budget, set savings goals, and minimize unnecessary spending. Automate savings, reduce debt strategically, and invest wisely for long-term security. Regularly reviewing financial habits ensures better financial health.</p>
                    <br><br><br>
                    <p>*Create a Budget: Track income and expenses to prevent overspending and save efficiently.</p>
                    <p>*Use Budgeting Tools: Apps like Mint, YNAB, or Excel sheets can help monitor finances.</p>
                    <p>*Set Financial Goals: Define savings targets, emergency funds, and investment plans.</p>
                    <p>*Minimize Unnecessary Expenses: Avoid impulse purchases and review subscriptions regularly.</p>
                    <p>*Automate Savings: Set up automatic transfers to savings or investment accounts.</p>
                    <p>*Reduce Debt: Prioritize high-interest debts and use strategies like the Snowball or Avalanche method.</p>
                    <p>*Track Expenses: Review spending habits monthly to make necessary adjustments.</p>
                    <p>*Invest Wisely: Diversify investments to build long-term financial security.</p>
            </section>
        </main>
    </body>
</html>