<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STEAL TO HEAL</title>
        <link rel="stylesheet" href="static/styles2.css">
        <script src="static/script.js" defer></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <span><b>STEAL TO HEAL</b></span>
            </div>
            <nav>
                <a href="finance">FINANCE</a>
                <a href="time">TIME</a>
                <button onclick="history.back()"><b>Назад</b></button>
            </nav>
        </header>
        <hr>
        <main>
            <section id="HOME" class="hidden">
                <div class="h2-container">
                    <h2>HEALTH</h2>
                </div>
                <div class="home-content">
                    <p>HEALTH ORGANIZATION</p>
                    <p>A well-structured health plan improves overall well-being. Maintain a balanced diet, exercise regularly, and get enough sleep. Stay hydrated, manage stress, and schedule routine health check-ups. Limiting screen time and maintaining work-life balance also contribute to a healthier lifestyle.</p>
                    <br><br><br>
                    <p>*Follow a Healthy Diet: Plan meals in advance and focus on balanced nutrition.</p>
                    <p>*Exercise Regularly: Schedule at least 30 minutes of physical activity 4-5 times a week.</p>
                    <p>*Get Enough Sleep: Aim for 7-9 hours of quality sleep per night.</p>
                    <p>*Stay Hydrated: Drink at least 2 liters of water daily.</p>
                    <p>*Manage Stress: Practice mindfulness, meditation, or deep breathing exercises.</p>
                    <p>*Regular Health Check-Ups: Schedule medical check-ups to monitor overall health.</p>
                    <p>*Limit Screen Time: Reduce blue light exposure, especially before bedtime.</p>
                    <p>*Maintain Work-Life Balance: Set boundaries between work and personal life to avoid burnout.</p>
                </div>
            </section>
        </main>
    </body>
</html>